infra/local/state-machines/document-pipeline.asl.json
{
  "Comment": "LocalStack document pipeline model for the Alittlebyte PoC.",
  "StartAt": "DocumentUploaded",
  "States": {
    "DocumentUploaded": {
      "Type": "Pass",
      "Next": "ValidateMetadata"
    },
    "ValidateMetadata": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metadata.valid",
          "BooleanEquals": false,
          "Next": "FailureHandler"
        }
      ],
      "Default": "StartOcr"
    },
    "StartOcr": {
      "Type": "Pass",
      "Next": "RunTextract"
    },
    "RunTextract": {
      "Type": "Pass",
      "Next": "RunBedrockExtraction"
    },
    "RunBedrockExtraction": {
      "Type": "Pass",
      "Next": "ValidateStructuredOutput"
    },
    "ValidateStructuredOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.extraction.valid",
          "BooleanEquals": false,
          "Next": "FailureHandler"
        }
      ],
      "Default": "PersistResult"
    },
    "PersistResult": {
      "Type": "Pass",
      "Next": "EmitDomainEvent"
    },
    "EmitDomainEvent": {
      "Type": "Pass",
      "Next": "AuditCompleted"
    },
    "AuditCompleted": {
      "Type": "Succeed"
    },
    "FailureHandler": {
      "Type": "Fail",
      "Error": "DocumentPipelineFailed",
      "Cause": "The document pipeline entered an explicit failure path."
    }
  }
}
